div{
    background-color: rgb(175, 171, 171);
    width: max-content;
}

.link{
    background-color:rgb(90, 133, 189);
}

.container-1{
    background-color: black;
    border-style: solid;
    border-width: 2px;

}

span{
    color: brown;
}